div.ganttview-hzheader-month,
div.ganttview-hzheader-day {
    display: inline-block;
}

div.ganttview-hzheader-month,
div.ganttview-hzheader-day {
	text-align: center;
}

div#ganttChart {
	border: 1px solid #999;
}


/* Horizontal Header */
.ganttview-hzheader {
    position: relative;
}

.ganttview-hzheader-months {
    white-space: nowrap;
}

div.ganttview-hzheader-month {
	width: 60px;
	height: 20px;
	border-right: 1px solid #d0d0d0;
	line-height: 20px;
}

.ganttview-hzheader-month:last-child {
    border-right: none;
}

div.ganttview-hzheader-day {
	width: 19px;
	height: 19px;
	border-right: 1px solid #f0f0f0;
    border-left: 1px solid #f0f0f0;
	border-top: 1px solid #d0d0d0;
	line-height: 20px;
	color: #777;
}

.ganttview-hzheader-day:first-child {
    border-left: 1px solid #d0d0d0;
}

/* Blocks */
.item-row {
    position: relative;
	height: 28px;
	padding-top: 4px;
    border-bottom: 1px solid #f0f0f0;
}

.item-block {
	position: absolute;
	height: 25px;
	background-color: #E5ECF9;
	border: 1px solid #c0c0c0;
	border-radius: 3px;
    display: inline-block;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.item-text,
div.ganttview-block-text {
	position: absolute;
	height: 12px;
	font-size: 0.8em;
	color: #999;
	padding: 2px 3px;
}

.row-container {
    border-top: 1px solid #d0d0d0;
    white-space: nowrap;
}

.row-header {
    display: inline-block;
    vertical-align: top;
}

.row-header span {
    padding: 0.2em 0.6em;
}

.row-data {
    display: inline-block;
    border-bottom: 1px solid #d0d0d0;
}